<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: "Homepage" }) %>
  <body>
    <h1>Mini Message Board</h1>
    <% messages.forEach(message => { %>
      <p>User: <%= message.user %></p>
      <p>message: <%= message.text %></p>
      <p>date: <%= message.added %></p>
      <hr>
    <% }) %>
  </body>
</html>
